
<h2>Ask a Mathematical Question and We Will Help You Out!!.</h2>
<br>
<h2> Create Question </h2>

<form action="/questions" method="POST"> 
<br>
<!--#create post then go to the index because if the person is asking the question they dont have
#an answer.  Then go back to the index view and format my question object 
# think about linking question to the show route. 
# Have a form to create an answer and see all of the answers as well. 
#then link to the show page and create a form to write an answer. -->
<br>
<br>
<p>
    <label for name= "question">Ask a Question:</label>
    <br>
    <textarea name="question" rows="3"></textarea>
    <br>
    <br>
</p>

<input type="submit" input type="submit" /> 

</form>

<p>
    <form action="/logout" method="GET"> 
        <br>
        <label for name= "logout">Click below to Logout:</label>
        <br>
        <input type="submit" value="logout" /> 
    </form>
</p>