<h1>This is the show page for an individual instance of your model.</h1>

<h2><%= @question.inquiry %></h2>

<p>
    <form action="/answers" method="POST"> 
        <br>
        <label for name= "answer">Post your answer or comment:</label>
        <br>
        <textarea name="answer" rows="3"></textarea>
        <br>
        <br>
        <input type="submit" input type="submit" /> 
    </form>
</p>
    
