<div class="container">
  <header><img height="164" width="290" class="media-element file-default panopoly-image-original" src="https://castlemont.campbellusd.org/system/files/styles/panopoly_image_original/private/tutoring-gig.gif?itok=MRhYo1ZS" alt=""></header>
  <div class="col-md-8 col-md-offset-2">

<h2> Login </h2>

<form action="sessions" method="POST"> 
<br>
<p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/>
    <br>
    <br>
    <label for= "email">Email:</label>
    <input type="text" name="email" id="email" />
    <br>
    <br>
    <label for= "password">Pasword:</label>
    <input type="password" name="password" id="password" />
</p>

<input type="submit" input type="submit" /> 

</form>


