<div class="container">
  <header><img height="164" width="290" class="media-element file-default panopoly-image-original" src="https://castlemont.campbellusd.org/system/files/styles/panopoly_image_original/private/tutoring-gig.gif?itok=MRhYo1ZS" alt=""></header>
  <div class="col-md-8 col-md-offset-2">
    <h2> Tutoring Notes</h2>

    <div class="content">
      <p>Welcome to LP Tutoring.  We encourage our student to work hard, ask questions, 
      and answer questions.  Where learning together is a way of truly building.
      <br>
      <br>

      Please <a href="/signup">Create Account</a> or <a href="/login">Log In</a> to get started. 
      <br>
      <br>
      We hope that you enjoy learning with us!</p>
    </div>
  </div>
</div>
    
  
